{% extends 'base/base.html' %}
{% load static %}
{% block body %}

<div class="text-center text-muted mt-4 mb-4">
    <div class="row" style="margin-top: 10px">
        <div class="col-2"></div>
        <div class="col">

            <h3>Email para redefinição de senha enviada</h3>

            <br>

            <p style="text-align: justify"><b>
                Nós te enviamos um email com instruções para configurar sua senha, se uma conta existe com o email
                fornecido. Você receberá a mensagem em breve.

                Se você não recebeu um email, por favor certifique-se que você forneceu o endereço que você está
                cadastrado, e verifique sua pasta de spam.</b>
            </p>

            <br>

        </div>
        <div class="col-2"></div>

    </div>
</div>
{% endblock body %}
