{% extends 'base/base.html' %}
{% load static %}
{% block body %}

<div class="text-center text-muted mt-4 mb-4">
    <div class="row" style="margin-top: 10px">
        <div class="col-md-4"></div>
        <div class="col">

            <h3>Redefinição de senha completa</h3>

            <br>

            <p style="text-align: justify">
                <b>
                    Sua senha foi definida. Você pode prosseguir e se autenticar agora.
                </b>
            </p>

            <a href="{% url 'login' %}" class="btn btn-success col-12 mt-4">Entrar</a>

            <br>

        </div>
        <div class="col-md-4"></div>

    </div>
</div>
{% endblock body %}
