{% extends 'base/base.html' %}
{% load static %}
{% block body %}
<div class="row margem-carrossel">
    <div class="mt-2"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <ul class="nav nav-tabs" id="myTab" role="tablist">

            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="cadastro-tab" data-bs-toggle="tab" data-bs-target="#cadastro-tab-pane"
                        type="button"
                        role="tab" aria-controls="profile-tab-pane" aria-selected="true">Cadastrar-se
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="cadastro-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                 tabindex="0">
                <h4 class="text-center text-muted mt-4"><b>Comece criando sua conta</b></h4>
                <h6 class="text-center text-muted">Faça suas compras online com rapidez e praticidade, aproveitando
                    nossas melhores ofertas
                </h6>
                <div class="form-group mt-4">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.first_name }}
                        {{ form.last_name }}
                        {{ form.date_of_birth }}
                        {{ form.email }}
                        {{ form.cpf }}
                        {{ form.phone_number }}
                        {{ form.password }}
                        <input type="submit" value="Criar Conta" class="btn btn-success col-12 mt-4">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock body %}
