{% load static %}
<div class="col-md-2 my-2">
    <div class="card border-0 text-center" style="box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)">
        {% if produto in PRODUTOS_FAVORITOS %}
        <a class="" style="text-align: right"
           href="{% url 'produtos:remover_dos_favoritos' produto_id=produto.id %}">
            <img src="{% static 'img/icone-coracao-preenchido.webp' %}" class="card-img-top"
                 style="object-fit: contain; width: 48px; padding: 4px;" alt="teste">
        </a>
        {% else %}
        <a class="" style="text-align: right"
           href="{% url 'produtos:adicionar_aos_favoritos' produto_id=produto.id %}">
            <img src="{% static 'img/icone-coracao.webp' %}" class="card-img-top"
                 style="object-fit: contain; width: 48px; padding: 4px;" alt="teste">
        </a>
        {% endif %}

        <a class="text-decoration-none ratio ratio-1x1" href="{{ produto.get_absolute_url }}">
            <img src="{{ produto.imagem.url }}" class="card-img-top" style="object-fit: contain" alt="teste">
        </a>
        <div class="card-body">
            <div>
                <div style="height: 80px">
                    <a class="text-decoration-none" href="{{ produto.get_absolute_url }}">
                        <p class="card-text text-muted">{{ produto.nome }}</p></a>
                </div>
            </div>
            <h5 class="card-title text-success"><b>R$ {{ produto.preco }}</b></h5>
            <a class="btn btn-warning" href="{% url 'produtos:adicionar_ao_carrinho' produto_id=produto.id %}">
                Adicionar ao carrinho
            </a>
        </div>
    </div>
</div>
