{% extends 'base/base.html' %}
{% load static %}
{% block body %}

<div class="text-center text-muted mt-4 mb-4">
    <div class="row" style="margin-top: 10px">
        <div class="col-2"></div>
        <div class="col">

            <h3>Central de Atendimento</h3>

            <br>

            <h5 style="text-align: justify">1. Introdução</h5>
            <p style="text-align: justify">
                Bem-vindo à Central de Atendimento do Comercial Alegria! Estamos aqui para ajudá-lo da melhor forma
                possível. Se você tiver dúvidas, sugestões ou solicitação de suporte, entre em contato conosco através
                de um dos canais abaixo:
            </p>

            <br>

            <h5 style="text-align: justify">2. Telefone</h5>
            <p style="text-align: justify">
                Atendimento de segunda a sexta, das 8h às 18h através do telefone (69) 99363-6619.
            </p>

            <br>

            <h5 style="text-align: justify">3. WhatsApp</h5>
            <p style="text-align: justify">
                Envie uma mensagem para nosso WhatsApp (69) 99363-6619 e fale diretamente com um de nossos atendentes.
            </p>

            <br>

            <h5 style="text-align: justify">4. E-mail</h5>
            <p style="text-align: justify">
                Para dúvidas ou sugestões, envie um e-mail para: <br>atendimento@comercialalegria.com
            </p>

            <br>

            <h5 style="text-align: justify">5. Atendimento Presencial</h5>
            <p style="text-align: justify">
                Visite nossa loja para um atendimento personalizado:<br>
                Endereço: Av. Monte Negro, 312-380, Buritis - RO, 76880-000
            </p>

        </div>
        <div class="col-2"></div>

    </div>
</div>
{% endblock body %}
