{% load static %}
<!-- rodapé 1 -->
<footer class="main-footer mt-5 pt-4 text-black" style="margin-bottom: 5px">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-3">
                <h3>Receba nossas ofertas</h3>
                <span>e novidades por E-mail!</span>
            </div>
            <div class="col">
                <form>
                    <div class="mb-3">
                        <input type="email" class="form-control" id="email"
                               aria-describedby="emailHelp" placeholder="E-mail*">
                    </div>
                    <div class="mb-3">
                        <input type="tel" class="form-control" id="telefone" placeholder="Telefone*">
                    </div>
                    <label>Ao clicar em Cadastrar você aceita os <a href="#">termos e condições</a></label>
                    <br>
                    <button type="submit" class="btn btn-primary mb-3">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>

    <!-- rodapé 2 -->
    <div class="second-footer pt-3 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p><b>Sobre o Comercial Alegria</b></p>
                    <p style="line-height: 1.7">
                        <a>Quem somos nós</a>
                        <br>
                        <a>Política de Privacidade</a>
                        <br>
                        <a>Política de Entrega</a>
                        <br>
                        <a>Trocas e Devoluções</a>
                        <br>
                        <a>Políticas de Cancelamentos e Ressarcimentos</a>
                        <br>
                        <a>Política de Venda, Preços, Ofertas e Promoções</a>
                    </p>
                </div>
                <div class="col-md-3">
                    <p><b>Entre em Contato</b></p>
                    <p style="line-height: 1.7">
                        <a>Central de Atendimento</a>
                        <br>
                        <a>Fale Conosco</a>
                        <br>
                        <a>Trabalhe Conosco</a>
                    </p>
                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-2">
                    <img src="{% static 'img/banner.png' %}" style="display: block; padding: 10px; max-width: 150%"
                         class="float-right mx-auto" alt="imagem_rodapé">
                </div>
            </div>
        </div>
    </div>

    <!-- rodapé 3 -->
    <div class="bg-light p-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p><b>Formas de Pagamento</b></p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="{% static 'img/logo-visa.png' %}" style="margin-right: 10px" alt="imagem_rodapé"
                         height="25">
                    <img src="{% static 'img/logo-mastercard.png' %}" style="margin-right: 10px" alt="imagem_rodapé"
                         height="25">
                    <img src="{% static 'img/logo-elo.png' %}" style="margin-right: 10px" alt="imagem_rodapé"
                         height="25">
                    <img src="{% static 'img/logo-american-express.png' %}" style="margin-right: 10px"
                         alt="imagem_rodapé" height="25">
                    <img src="{% static 'img/logo-hipercard.png' %}" style="margin-right: 10px" alt="imagem_rodapé"
                         height="25">
                    <img src="{% static 'img/logo-pix.png' %}" style="margin-right: 10px" alt="imagem_rodapé"
                         height="25">
                </div>
            </div>
        </div>
    </div>
</footer>
