{% extends 'base/base.html' %}
{% load static %}
{% block body %}

{% include 'base/carrossel.html' %}

<!-- divs dos produtos -->
<div class="text-muted text-center my-3">
    <h5><b>Ofertas da Semana</b></h5>
</div>
<div class="row" style="margin-top: 10px">
    {% for produto in PRODUTOS|slice:':6' %}
    <div class="col-md-2 my-2">
        <div class="card border-0 text-center" style="box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)">
            <a class="" style="text-align: right"
               href="{% url 'produtos:adicionar_aos_favoritos' produto_id=produto.id %}">
                <img src="{% static 'img/icone-coracao.png' %}" class="card-img-top"
                     style="object-fit: contain; width: 48px; padding: 4px;" alt="teste">
            </a>
            <a class="text-decoration-none ratio ratio-1x1" href="{{ produto.get_absolute_url }}">
                <img src="{{ produto.imagem.url }}" class="card-img-top" style="object-fit: contain" alt="teste">
            </a>
            <div class="card-body">
                <div>
                    <div style="height: 80px">
                        <a class="text-decoration-none" href="{{ produto.get_absolute_url }}">
                            <p class="card-text text-muted">{{ produto.nome }}</p></a>
                    </div>
                </div>
                <h5 class="card-title text-success"><b>R$ {{ produto.preco }}</b></h5>
                <a class="btn btn-warning" href="{% url 'produtos:adicionar_ao_carrinho' produto_id=produto.id %}">
                    Adicionar ao carrinho
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- imagem solta -->
<div class="row" style="margin-left: 30px; margin-right: 30px">
    <div class="col-md-12" style="margin-top: 30px; margin-bottom: 30px">
        <img src="{% static 'img/img-goncalves.png' %}" class="card-img-top" alt="teste">
    </div>
</div>

<!-- divs dos produtos 2 -->
<div class="text-muted text-center mb-3">
    <h5><b>Mais Vendidos</b></h5>
</div>
<div class="row" style="margin-top: 10px">
    {% for produto in PRODUTOS|slice:'6:12' %}
    <div class="col-md-2 my-2">
        <div class="card border-0 text-center" style="box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)">
            <a class="" style="text-align: right"
               href="{% url 'produtos:adicionar_aos_favoritos' produto_id=produto.id %}">
                <img src="{% static 'img/icone-coracao.png' %}" class="card-img-top"
                     style="object-fit: contain; width: 48px; padding: 4px;" alt="teste">
            </a>
            <a class="text-decoration-none ratio ratio-1x1" href="{{ produto.get_absolute_url }}">
                <img src="{{ produto.imagem.url }}" class="card-img-top" style="object-fit: contain" alt="teste">
            </a>
            <div class="card-body">
                <div>
                    <div style="height: 80px">
                        <a class="text-decoration-none" href="{{ produto.get_absolute_url }}">
                            <p class="card-text text-muted">{{ produto.nome }}</p></a>
                    </div>
                </div>
                <h5 class="card-title text-success"><b>R$ {{ produto.preco }}</b></h5>
                <a class="btn btn-warning" href="{% url 'produtos:adicionar_ao_carrinho' produto_id=produto.id %}">
                    Adicionar ao carrinho
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% include 'base/carrossel_duplo.html' %}

<!-- divs dos produtos 3 - final -->
<div class="text-muted text-center my-3">
    <h5><b>Volte a Comprar</b></h5>
</div>
<div class="row" style="margin-top: 10px; margin-bottom: 30px">
    {% for produto in PRODUTOS|slice:'12:18' %}
    <div class="col-md-2 my-2">
        <div class="card border-0 text-center" style="box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)">
            <a class="" style="text-align: right"
               href="{% url 'produtos:adicionar_aos_favoritos' produto_id=produto.id %}">
                <img src="{% static 'img/icone-coracao.png' %}" class="card-img-top"
                     style="object-fit: contain; width: 48px; padding: 4px;" alt="teste">
            </a>
            <a class="text-decoration-none ratio ratio-1x1" href="{{ produto.get_absolute_url }}">
                <img src="{{ produto.imagem.url }}" class="card-img-top" style="object-fit: contain" alt="teste">
            </a>
            <div class="card-body">
                <div>
                    <div style="height: 80px">
                        <a class="text-decoration-none" href="{{ produto.get_absolute_url }}">
                            <p class="card-text text-muted">{{ produto.nome }}</p></a>
                    </div>
                </div>
                <h5 class="card-title text-success"><b>R$ {{ produto.preco }}</b></h5>
                <a class="btn btn-warning" href="{% url 'produtos:adicionar_ao_carrinho' produto_id=produto.id %}">
                    Adicionar ao carrinho
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}
