{% extends 'base/base.html' %}
{% load static %}
{% block body %}

{% include 'base/carrossel.html' %}

<!-- divs dos produtos -->
<div class="alert alert-light text-center bg-warning">
    <strong>Produtos</strong>
</div>
<div class="row" style="margin-top: 10px">
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
        <div class="card text-center">

            <img src="{% static 'img/1.jpg' %}" class="card-img-top" alt="teste">
            <div class="card-body">
                <h5 class="card-title">Produto 1</h5>
                <p class="card-text">Texto descritivo sobre o produto. Explicação com quantidade, especifidades,
                    funcionaliddades e etc</p>
                <a href="#" class="btn btn-warning">Adicionar ao carrinho</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card text-center">
            <img src="{% static 'img/2.jpg' %}" class="card-img-top" alt="teste">
            <div class="card-body">
                <h5 class="card-title">Produto 2</h5>
                <p class="card-text">Texto descritivo sobre o produto. Explicação com quantidade, especifidades,
                    funcionaliddades e etc</p>
                <a href="#" class="btn btn-warning">Adicionar ao carrinho</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card text-center">

            <img src="{% static 'img/3.jpg' %}" class="card-img-top" alt="teste">
            <div class="card-body">
                <h5 class="card-title">Produto 3</h5>
                <p class="card-text">Texto descritivo sobre o produto. Explicação com quantidade, especifidades,
                    funcionaliddades e etc</p>
                <a href="#" class="btn btn-warning">Adicionar ao carrinho</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card text-center">

            <img src="{% static 'img/4.jpg' %}" class="card-img-top" alt="teste">
            <div class="card-body">
                <h5 class="card-title">Produto 4</h5>
                <p class="card-text">Texto descritivo sobre o produto. Explicação com quantidade, especifidades,
                    funcionaliddades e etc</p>
                <a href="#" class="btn btn-warning">Adicionar ao carrinho</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card text-center">

            <img src="{% static 'img/5.jpg' %}" class="card-img-top" alt="teste">
            <div class="card-body">
                <h5 class="card-title">Produto 5</h5>
                <p class="card-text">Texto descritivo sobre o produto. Explicação com quantidade, especifidades,
                    funcionaliddades e etc</p>
                <a href="#" class="btn btn-warning">Adicionar ao carrinho</a>
            </div>
        </div>
    </div>
    <div class="col-md-1">
    </div>
</div>

<!-- imagem solta -->
<div class="row" style="margin-left: 30px; margin-right: 30px">
    <div class="col-md-12" style="margin-top: 30px; margin-bottom: 30px">
        <img src="{% static 'img/img-goncalves.png' %}" class="card-img-top" alt="teste">
    </div>
</div>

<!-- divs dos produtos 2 -->
<div class="alert alert-light text-center bg-warning">
    <strong>Produtos 2</strong>
</div>
<div class="row" style="margin-top: 10px">
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
        <div class="card text-center">

            <img src="{% static 'img/1.jpg' %}" class="card-img-top" alt="teste">
            <div class="card-body">
                <h5 class="card-title">Produto 1</h5>
                <p class="card-text">Texto descritivo sobre o produto. Explicação com quantidade, especifidades,
                    funcionaliddades e etc</p>
                <a href="#" class="btn btn-warning">Adicionar ao carrinho</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card text-center">
            <img src="{% static 'img/2.jpg' %}" class="card-img-top" alt="teste">
            <div class="card-body">
                <h5 class="card-title">Produto 2</h5>
                <p class="card-text">Texto descritivo sobre o produto. Explicação com quantidade, especifidades,
                    funcionaliddades e etc</p>
                <a href="#" class="btn btn-warning">Adicionar ao carrinho</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card text-center">

            <img src="{% static 'img/3.jpg' %}" class="card-img-top" alt="teste">
            <div class="card-body">
                <h5 class="card-title">Produto 3</h5>
                <p class="card-text">Texto descritivo sobre o produto. Explicação com quantidade, especifidades,
                    funcionaliddades e etc</p>
                <a href="#" class="btn btn-warning">Adicionar ao carrinho</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card text-center">

            <img src="{% static 'img/4.jpg' %}" class="card-img-top" alt="teste">
            <div class="card-body">
                <h5 class="card-title">Produto 4</h5>
                <p class="card-text">Texto descritivo sobre o produto. Explicação com quantidade, especifidades,
                    funcionaliddades e etc</p>
                <a href="#" class="btn btn-warning">Adicionar ao carrinho</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card text-center">

            <img src="{% static 'img/5.jpg' %}" class="card-img-top" alt="teste">
            <div class="card-body">
                <h5 class="card-title">Produto 5</h5>
                <p class="card-text">Texto descritivo sobre o produto. Explicação com quantidade, especifidades,
                    funcionaliddades e etc</p>
                <a href="#" class="btn btn-warning">Adicionar ao carrinho</a>
            </div>
        </div>
    </div>
    <div class="col-md-1">
    </div>
</div>

{% include 'base/carrossel_duplo.html' %}

<!-- divs dos produtos 3 - final -->
<div class="alert alert-light text-center bg-warning">
    <strong>Produtos 2</strong>
</div>
<div class="row" style="margin-top: 10px; margin-bottom: 30px">
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
        <div class="card text-center">

            <img src="{% static 'img/1.jpg' %}" class="card-img-top" alt="teste">
            <div class="card-body">
                <h5 class="card-title">Produto 1</h5>
                <p class="card-text">Texto descritivo sobre o produto. Explicação com quantidade, especifidades,
                    funcionaliddades e etc</p>
                <a href="#" class="btn btn-warning">Adicionar ao carrinho</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card text-center">
            <img src="{% static 'img/2.jpg' %}" class="card-img-top" alt="teste">
            <div class="card-body">
                <h5 class="card-title">Produto 2</h5>
                <p class="card-text">Texto descritivo sobre o produto. Explicação com quantidade, especifidades,
                    funcionaliddades e etc</p>
                <a href="#" class="btn btn-warning">Adicionar ao carrinho</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card text-center">

            <img src="{% static 'img/3.jpg' %}" class="card-img-top" alt="teste">
            <div class="card-body">
                <h5 class="card-title">Produto 3</h5>
                <p class="card-text">Texto descritivo sobre o produto. Explicação com quantidade, especifidades,
                    funcionaliddades e etc</p>
                <a href="#" class="btn btn-warning">Adicionar ao carrinho</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card text-center">

            <img src="{% static 'img/4.jpg' %}" class="card-img-top" alt="teste">
            <div class="card-body">
                <h5 class="card-title">Produto 4</h5>
                <p class="card-text">Texto descritivo sobre o produto. Explicação com quantidade, especifidades,
                    funcionaliddades e etc</p>
                <a href="#" class="btn btn-warning">Adicionar ao carrinho</a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card text-center">

            <img src="{% static 'img/5.jpg' %}" class="card-img-top" alt="teste">
            <div class="card-body">
                <h5 class="card-title">Produto 5</h5>
                <p class="card-text">Texto descritivo sobre o produto. Explicação com quantidade, especifidades,
                    funcionaliddades e etc</p>
                <a href="#" class="btn btn-warning">Adicionar ao carrinho</a>
            </div>
        </div>
    </div>
    <div class="col-md-1">
    </div>
</div>
{% endblock body %}