{% extends 'base/base.html' %}
{% load static %}
{% block body %}

<div class="text-center text-muted mt-4 mb-4">
    <div class="row" style="margin-top: 10px">
        <div class="col-2"></div>
        <div class="col">

            <h3>Política de Entrega</h3>

            <br>

            <h5 style="text-align: justify">1. Introdução</h5>
            <p style="text-align: justify">
                Bem-vindo ao Comercial Alegria! Nossa Política de Entrega visa fornecer informações claras sobre como
                processamos e entregamos os seus pedidos. Queremos garantir que você receba suas compras de maneira
                eficiente e segura.
            </p>

            <br>

            <h5 style="text-align: justify">2. Áreas de Entrega</h5>
            <p style="text-align: justify">
                Atualmente, realizamos entregas para toda a região de Buritis. Se você estiver fora de Buritis, entre
                em contato conosco para verificar a possibilidade de entrega especial.
            </p>

            <br>

            <h5 style="text-align: justify">3. Prazos de Entrega</h5>
            <p style="text-align: justify">
                O prazo de entrega pode variar de acordo com a sua localização e a disponibilidade dos produtos. Em
                geral, os pedidos são processados e entregues dentro de 1 dia útil. Durante períodos de alta
                demanda, como feriados e promoções, o prazo de entrega pode ser um pouco maior.
            </p>

            <br>

            <h5 style="text-align: justify">4. Taxas de Entrega</h5>
            <p style="text-align: justify">
                As taxas de entrega são calculadas com base na sua localização e no valor total do pedido. Oferecemos
                entrega gratuita para compras acima de R$300,00. Para pedidos abaixo desse valor, a taxa de
                entrega será de R$20,00.
            </p>

            <br>

            <h5 style="text-align: justify">5. Processamento de Pedidos</h5>
            <p style="text-align: justify">
                Após a confirmação do pagamento, seu pedido será processado e embalado com cuidado. Você receberá uma
                notificação por e-mail com as informações do seu pedido e o prazo estimado de entrega.
            </p>

            <br>

            <h5 style="text-align: justify">6. Entrega Falhada</h5>
            <p style="text-align: justify">
                Em caso de ausência no momento da entrega, nossa equipe entrará em contato para agendar uma nova
                tentativa. Se não conseguirmos realizar a entrega após 2 tentativas, o pedido será
                retornado ao nosso centro de distribuição e entraremos em contato para resolver a situação.
            </p>

            <br>

            <h5 style="text-align: justify">7. Alterações na Política de Entrega</h5>
            <p style="text-align: justify">
                Reservamo-nos o direito de atualizar esta Política de Entrega a qualquer momento. Quaisquer alterações
                serão publicadas nesta página. Recomendamos que você a verifique regularmente para estar ciente de
                quaisquer mudanças.
            </p>

            <br>

            <h5 style="text-align: justify">8. Dúvidas e Suporte</h5>
            <p style="text-align: justify">
                Se você tiver qualquer dúvida ou precisar de assistência com a sua entrega, não hesite em entrar em
                contato conosco:
            </p>
            <p style="text-align: justify">Comercial Alegria<br>Telefone: (69) 99363-6619</p>

        </div>
        <div class="col-2"></div>

    </div>
</div>
{% endblock body %}
