{% extends 'base/base.html' %}
{% load static %}
{% block body %}

<div class="text-center text-muted mt-4 mb-4">
    <div class="row" style="margin-top: 10px">
        <div class="col-2"></div>
        <div class="col">
            <h3>Política de Privacidade</h3>

            <br>

            <h5 style="text-align: justify">1. Introdução</h5>
            <p style="text-align: justify">
                Bem-vindo ao Comercial Alegria. Respeitamos sua privacidade e estamos comprometidos em proteger suas
                informações pessoais. Esta Política de Privacidade explica como coletamos, usamos e protegemos suas
                informações quando você visita nosso site.
            </p>

            <br>

            <h5 style="text-align: justify">2. Coleta de Informações</h5>
            <p style="text-align: justify">
                Coletamos informações que você nos fornece diretamente, como quando você se cadastra em nosso site, faz
                uma compra ou entra em contato conosco. As informações podem incluir seu nome, endereço de e-mail,
                número de telefone e detalhes de pagamento.
            </p>

            <br>

            <h5 style="text-align: justify">3. Uso das Informações</h5>
            <p style="text-align: justify">
                Utilizamos as informações coletadas para:
            </p>
            <ul style="text-align: justify">
                <li>Processar e gerenciar suas compras.</li>
                <li>Enviar atualizações sobre seu pedido.</li>
                <li>Responder às suas perguntas e fornecer suporte ao cliente.</li>
                <li>Enviar ofertas, promoções e informações sobre nossos produtos e serviços (se você optou por
                    recebê-las).
                </li>
            </ul>

            <br>

            <h5 style="text-align: justify">4. Compartilhamento de Informações</h5>
            <p style="text-align: justify">
                Não vendemos, trocamos ou transferimos suas informações pessoais para terceiros sem o seu consentimento,
                exceto quando necessário para processar suas transações ou cumprir a lei.
            </p>

            <br>

            <h5 style="text-align: justify">5. Segurança das Informações</h5>
            <p style="text-align: justify">
                Implementamos uma variedade de medidas de segurança para manter a segurança de suas informações
                pessoais. Utilizamos tecnologias de criptografia e servidores seguros para proteger suas informações.
            </p>

            <br>

            <h5 style="text-align: justify">6. Alterações na Política de Privacidade</h5>
            <p style="text-align: justify">
                Podemos atualizar esta Política de Privacidade periodicamente. Publicaremos quaisquer alterações nesta
                página, por isso, verifique regularmente para estar ciente de qualquer atualização.
            </p>

            <br>

            <h5 style="text-align: justify">7. Contato</h5>
            <p style="text-align: justify">
                Se você tiver dúvidas ou preocupações sobre nossa Política de Privacidade, entre em contato conosco:

            </p>
            <p style="text-align: justify">Comercial Alegria<br>Telefone: (69) 99363-6619</p>

        </div>
        <div class="col-2"></div>

    </div>
</div>
{% endblock body %}
