{% extends 'base/base.html' %}
{% load static %}
{% block body %}

<div class="text-center text-muted mt-4 mb-4">
    <div class="row" style="margin-top: 10px">
        <div class="col-2"></div>
        <div class="col">

            <h3>Políticas de Cancelamentos e Ressarcimentos</h3>

            <br>

            <h5 style="text-align: justify">1. Introdução</h5>
            <p style="text-align: justify">
                No Comercial Alegria, trabalhamos para oferecer a melhor experiência de compra possível. Entendemos que,
                ocasionalmente, podem ocorrer situações que exijam o cancelamento de um pedido e o ressarcimento do
                valor pago. Esta política descreve como esses processos são realizados.
            </p>

            <br>

            <h5 style="text-align: justify">2. Cancelamento de Pedidos</h5>
            <p style="text-align: justify">
                Os pedidos podem ser cancelados nas seguintes condições:
            </p>

            <ul style="text-align: justify">
                <li>Antes do envio: Se o pedido ainda não foi enviado, você pode solicitar o cancelamento sem custos
                    adicionais.
                </li>
                <li>Após o envio: Se o pedido já foi enviado, você pode recusar o recebimento do produto. Neste caso, o
                    valor do produto será reembolsado, mas os custos de envio não serão ressarcidos.
                </li>
            </ul>

            <br>

            <h5 style="text-align: justify">3. Como Solicitar um Cancelamento</h5>
            <p style="text-align: justify">
                Para solicitar o cancelamento de um pedido, siga os passos abaixo:
            </p>

            <ol style="text-align: justify">
                <li>Entre em contato conosco através do telefone (69) 99363-6619 informando o número do pedido e o
                    motivo do cancelamento.
                </li>
                <li>Nossa equipe irá verificar o status do seu pedido e fornecer as instruções necessárias para o
                    cancelamento.
                </li>
            </ol>

            <br>

            <h5 style="text-align: justify">4. Ressarcimento</h5>
            <p style="text-align: justify">
                O ressarcimento será realizado nas seguintes situações:
            </p>

            <ul style="text-align: justify">
                <li>Pedido cancelado antes do envio</li>
                <li>Produto devolvido em conformidade com nossa Política de Trocas e Devoluções.</li>
                <li>Produto com defeito ou erro no pedido.</li>
            </ul>

            <br>

            <h5 style="text-align: justify">5. Processo de Ressarcimento</h5>
            <p style="text-align: justify">
                O valor do ressarcimento será processado conforme o método de pagamento utilizado na compra:
            </p>

            <ul style="text-align: justify">
                <li>Cartão de crédito: O estorno será solicitado à administradora do cartão, e o prazo para que o valor
                    apareça na fatura pode variar conforme a operadora.
                </li>
                <li>Boleto bancário ou transferência: O reembolso será feito em até 10 dias úteis após a confirmação do
                    cancelamento, diretamente na conta bancária informada pelo cliente.
                </li>
            </ul>

            <br>

            <h5 style="text-align: justify">6. Alterações na Política de Cancelamentos e Ressarcimentos</h5>
            <p style="text-align: justify">
                Reservamo-nos o direito de atualizar esta política a qualquer momento. Quaisquer alterações serão
                publicadas nesta página. Recomendamos que você a verifique regularmente para estar ciente de quaisquer
                mudanças.
            </p>

            <br>

            <h5 style="text-align: justify">7. Dúvidas e Suporte</h5>
            <p style="text-align: justify">
                Se você tiver qualquer dúvida ou precisar de assistência com a sua entrega, não hesite em entrar em
                contato conosco:
            </p>
            <p style="text-align: justify">Comercial Alegria<br>Telefone: (69) 99363-6619</p>

        </div>
        <div class="col-2"></div>

    </div>
</div>
{% endblock body %}
