{% extends 'base/base.html' %}
{% load static %}
{% block body %}

<div class="text-center text-muted mt-4 mb-4">
    <div class="row" style="margin-top: 10px">
        <div class="col-2"></div>
        <div class="col">

            <h3>Política de Venda, Preços, Ofertas e Promoções</h3>

            <br>

            <h5 style="text-align: justify">1. Preços</h5>
            <p style="text-align: justify">
                Os preços dos produtos disponíveis no Comercial Alegria são exibidos em Reais (BRL) e estão sujeitos a
                alterações sem aviso prévio. No entanto, garantimos que todos os pedidos serão cobrados com base nos
                preços vigentes no momento da compra.
            </p>

            <br>

            <h5 style="text-align: justify">2. Ofertas e Promoções</h5>
            <p style="text-align: justify">
                Ofertas e promoções são válidas por tempo limitado e enquanto durarem os estoques. O Comercial Alegria
                reserva-se o direito de modificar ou cancelar ofertas e promoções a qualquer momento, sem necessidade de
                aviso prévio. Descontos e promoções não são cumulativos, salvo quando expressamente indicado.
            </p>

            <br>

            <h5 style="text-align: justify">3. Disponibilidade de Produtos</h5>
            <p style="text-align: justify">
                Todos os produtos estão sujeitos à disponibilidade. Em caso de indisponibilidade de algum item após a
                conclusão do pedido, o cliente será notificado e poderá optar por uma troca, vale-compra ou reembolso
                total do valor pago pelo item indisponível.
            </p>

            <br>

            <h5 style="text-align: justify">4. Métodos de Pagamento</h5>
            <p style="text-align: justify">
                Aceitamos diversos métodos de pagamento, incluindo cartões de crédito, débito e outras formas digitais,
                conforme disponibilizado no momento da compra. O pagamento deverá ser confirmado para que o pedido seja
                processado e enviado.
            </p>

            <br>

            <h5 style="text-align: justify">5. Cancelamentos e Devoluções</h5>
            <p style="text-align: justify">
                O Comercial Alegria permite o cancelamento de pedidos antes do envio. Após o envio, as devoluções são
                aceitas de acordo com nossa Política de Trocas e Devoluções, disponível em nosso site.
            </p>

            <br>

            <h5 style="text-align: justify">6. Erros e Omissões</h5>
            <p style="text-align: justify">
                Trabalhamos constantemente para garantir a precisão das informações em nosso site. No entanto, podem
                ocorrer erros de digitação ou omissões. O Comercial Alegria reserva-se o direito de corrigir qualquer
                erro, imprecisão ou omissão, e de alterar ou atualizar informações a qualquer momento sem aviso prévio,
                incluindo após a realização de um pedido.
            </p>

            <br>

            <h5 style="text-align: justify">7. Dúvidas e Suporte</h5>
            <p style="text-align: justify">
                Se você tiver qualquer dúvida ou precisar de assistência com a sua entrega, não hesite em entrar em
                contato conosco:
            </p>
            <p style="text-align: justify">Comercial Alegria<br>Telefone: (69) 99363-6619</p>

        </div>
        <div class="col-2"></div>

    </div>
</div>
{% endblock body %}
