{% extends 'base/base.html' %}
{% load static %}
{% block body %}

<div class="text-center text-muted mt-4 mb-4">
    <div class="row" style="margin-top: 10px">
        <div class="col-2"></div>
        <div class="col">
            <h3>Quem somos nós</h3>
            <p style="text-align: justify">
                Bem vindo ao Comercial Alegria! Somos um pequeno comércio local dedicado a atender a nossa comunidade com produtos de alta qualidade e
                um
                atendimento personalizado. Fundado com a missão de trazer alegria e conveniência ao dia a dia dos nossos
                clientes, o Comercial Alegria é mais do que uma loja, é um ponto de encontro onde você sempre encontra
                um
                sorriso e um atendimento amigo.
            </p>
            <p style="text-align: justify">
                No Comercial Alegria, valorizamos cada cliente como parte da nossa família. Nossa equipe é composta por
                pessoas apaixonadas pelo que fazem e comprometidas em garantir que sua experiência em nossa loja seja
                sempre
                positiva. Acreditamos que o sucesso do nosso comércio está diretamente ligado à satisfação de cada
                pessoa
                que passa por nossas portas.
            </p>
            <p style="text-align: justify">
                Além de oferecer uma variedade de produtos selecionados, também nos orgulhamos de apoiar e promover
                produtores locais, contribuindo para o fortalecimento da economia da nossa região.
            </p>
            <p style="text-align: justify">
                Venha nos visitar e descubra por que o Comercial Alegria é sinônimo de qualidade, confiança e, claro,
                muita
                alegria!
            </p>
            <p style="text-align: justify">
                Obrigado por fazer parte da nossa história. Esperamos vê-lo em breve!
            </p>
        </div>
        <div class="col-2"></div>

    </div>
</div>


{% endblock body %}
