{% extends 'base/base.html' %}
{% load static %}
{% block body %}

<div class="text-center text-muted mt-4 mb-4">
    <div class="row" style="margin-top: 10px">
        <div class="col-2"></div>
        <div class="col">

            <h3>Trocas e Devoluções</h3>

            <br>

            <h5 style="text-align: justify">1. Introdução</h5>
            <p style="text-align: justify">
                No Comercial Alegria, nossa prioridade é garantir a sua satisfação com as compras realizadas. Se por
                algum motivo você não estiver satisfeito com o seu pedido, oferecemos um processo simples para trocas e
                devoluções.
            </p>

            <br>

            <h5 style="text-align: justify">2. Condições para Trocas e Devoluções</h5>
            <p style="text-align: justify">
                Para que possamos realizar a troca ou devolução de um produto, ele deve atender às seguintes condições:
            </p>

            <ul style="text-align: justify">
                <li>Estar em sua embalagem original, sem sinais de uso ou danos.</li>
                <li>Acompanhado da nota fiscal de compra.</li>
                <li>Solicitação feita dentro de 30 dias corridos após o recebimento do produto.</li>
            </ul>

            <br>

            <h5 style="text-align: justify">3. Como Solicitar uma Troca ou Devolução</h5>
            <p style="text-align: justify">
                Para solicitar uma troca ou devolução, siga os passos abaixo:
            </p>

            <ol style="text-align: justify">
                <li>Entre em contato conosco através do telefone (69) 99363-6619 informando o número do pedido e o
                    motivo da solicitação.
                </li>
                <li>Nossa equipe irá orientá-lo sobre os próximos passos e fornecer as informações necessárias para o
                    envio do produto de volta.
                </li>
            </ol>

            <br>

            <h5 style="text-align: justify">4. Processamento de Trocas e Devoluções</h5>
            <p style="text-align: justify">
                Após recebermos o produto devolvido, ele será inspecionado pela nossa equipe. Caso esteja em
                conformidade com as condições estabelecidas, procederemos com a troca ou devolução do valor pago. O
                reembolso será realizado conforme o método de pagamento utilizado na compra.
            </p>

            <br>

            <h5 style="text-align: justify">5. Produtos com Defeito</h5>
            <p style="text-align: justify">
                Se o produto recebido apresentar defeito, por favor, entre em contato conosco imediatamente. Faremos a
                troca por um produto novo sem custos adicionais ou, caso prefira, realizaremos o reembolso do valor
                pago.
            </p>

            <br>

            <h5 style="text-align: justify">6. Custos de Envio</h5>
            <p style="text-align: justify">
                Os custos de envio para trocas e devoluções serão arcados pelo Comercial Alegria nos casos de produtos
                com defeito ou erro no pedido. Para trocas ou devoluções por outros motivos, os custos de envio serão de
                responsabilidade do cliente.
            </p>

            <br>

            <h5 style="text-align: justify">7. Dúvidas e Suporte</h5>
            <p style="text-align: justify">
                Se você tiver qualquer dúvida ou precisar de assistência com a sua entrega, não hesite em entrar em
                contato conosco:
            </p>
            <p style="text-align: justify">Comercial Alegria<br>Telefone: (69) 99363-6619</p>

        </div>
        <div class="col-2"></div>

    </div>
</div>
{% endblock body %}
