{% extends 'base/base.html' %}
{% load static %}
{% block body %}

<div class="container-fluid">
    <div style="height: 20px"></div>
    <div class="row">
        <div class="col">
            <table width="100%">
                <thead>
                <tr style="border-bottom: 3px solid #ccc">
                    <th style="text-align: left; padding-bottom: 10px; color: #666">PRODUTO</th>
                    <th style="text-align: left; padding-bottom: 10px; color: #666">PREÇO</th>
                    <th style="text-align: left; padding-bottom: 10px; color: #666">QUANTIDADE</th>
                    <th style="text-align: left; padding-bottom: 10px; color: #666">TOTAL</th>
                    <th style="text-align: left; padding-bottom: 10px; color: #666">EXCLUIR</th>
                </tr>
                </thead>

                <tbody>
                {% for item in carrinhoitens %}
                <tr style="border-bottom: 3px solid #ccc">
                    <td style="padding: 30px">
                        <div style="display: flex; align-items: center;">
                            <img src="{{ item.produto.imagem.url }}" width="150" height="150"
                                 style="border-radius: 4px; object-fit: contain">
                            <div style="margin-left: 20px">
                                <div style="font-size: 20px; margin-bottom: 10px">{{ item.produto.nome }}</div>
                                <div style="color: #666">Marca: {{ item.produto.marca }}</div>
                            </div>
                        </div>
                    </td>
                    <td style="padding: 30px">R${{ item.produto.preco }}</td>
                    <td style="padding: 30px">
                        <div class="qt-button">
                            <a class="custom-button" style="text-decoration: none; color: black; margin-right: 8px"
                               href="{% url 'produtos:remover_do_carrinho' produto_id=item.produto.id %}">-</a>
                            <span>{{ item.quantidade }}</span>
                            <a class="custom-button" style="text-decoration: none; color: black; margin-left: 8px"
                               href="{% url 'produtos:adicionar_ao_carrinho' produto_id=item.produto.id %}">+</a>
                        </div>
                    </td>
                    <td style="padding: 30px">R${{ item.total }}</td>
                    <td style="padding: 30px">
                        <a class="custom-button" style="text-decoration: none; color: black"
                           href="{% url 'produtos:excluir_do_carrinho' produto_id=item.produto.id %}">x</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Resumo da Compra -->
        <div class="col-4">
            <div class="box">
                <header style="padding: 15px 20px; font-size: 18px; border-bottom: 1px solid #ccc">RESUMO DA COMPRA
                </header>
                <div style="padding: 20px">
                    <div style="margin-bottom: 8px; display: flex; justify-content: space-between; color: #111"><span>Sub-Total</span><span>R${{ total }}</span>
                    </div>
                    <div style="display: flex; justify-content: space-between"><span>Frete</span><span>Gratis</span>
                    </div>
                </div>
                <footer style="padding: 15px 20px; font-size: 18px; background: #ddd; display: flex; justify-content: space-between">
                    <span>Total</span>
                    <span>R${{ total }}</span>
                </footer>
            </div>

            {% if request.user.is_authenticated and carrinhoitens|length > 0 %}
            <a class="btn col-6" href="{{ link_de_compra }}"
               style="background: green; border: 0; color: white; display: block; width: 100%; padding: 15px; letter-spacing: 1px">
                FINALIZAR COMPRA
            </a>
            {% elif not request.user.is_authenticated and carrinhoitens|length > 0 %}
            <a class="btn col-6" href="{% url 'base:cadastro' %}"
               style="background: green; border: 0; color: white; display: block; width: 100%; padding: 15px; letter-spacing: 1px">
                CADASTRE-SE PARA CONCLUIR A COMPRA
            </a>
            {% else %}
            <a class="btn col-6" href="{% url 'base:home' %}"
               style="background: green; border: 0; color: white; display: block; width: 100%; padding: 15px; letter-spacing: 1px">
                ADICIONE UM PRODUTO AO CARRINHO
            </a>
            {% endif %}

        </div>
    </div>
</div>

{% endblock body %}
