{% extends 'base/base.html' %}
{% load static %}
{% block body %}

<!-- produtos -->
<div class="text-center text-muted mt-5 mb-5">
    <h2><b>{{ marca }}</b></h2>
</div>

<div class="row" style="margin-top: 10px">
    <div class="col-md-4">
    </div>

    {% for produto in produtos %}
    <div class="col-md-2 my-2">
        <div class="card border-0 text-center" style="box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)">
            <a class="text-decoration-none ratio ratio-1x1" href="{{ produto.get_absolute_url }}">
                <img src="{{ produto.imagem.url }}" class="card-img-top" style="object-fit: contain" alt="teste">
            </a>
            <div class="card-body">
                <div>
                    <div style="height: 80px">
                        <a class="text-decoration-none" href="{{ produto.get_absolute_url }}">
                            <p class="card-text text-muted">{{ produto.nome }}</p></a>
                    </div>
                </div>
                <h5 class="card-title text-success"><b>R$ {{ produto.preco }}</b></h5>
                <a href="#" class="btn btn-warning">Adicionar ao carrinho</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock body %}
